<h1>Atualização de Curso</h1>
<div class="row">
    <div class="hb6">
        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        <form action="/major/update/{{major.idMajor}}" method="post">
            {{> majorForm}}
        </form>
    </div>
</div>