<div class="mb-3">
<label for="code" class="form-label">Código</label>
<input type="code" class="form-control" id="code" placeholder="">
<label for="name" class="form-label">Código</label>
<input type="name" class="form-control" id="name" placeholder="">
<button class="btn btn-primary " type="submit">Adicionar Turma</button>
<div>
   