<div class='mb-3'>
  <label for='name' class='form-label'>Nome do Produto</label>
  <input type='text' class='form-control' id='name' name='name' />
</div>
<div class='mb-3'>
  <label for='price' class='form-label'>Preco do Produto</label>
  <input type='text' class='form-control' id='price' name='price' />
</div>
<div class='mb-3'>
  <label for='quantidade' class='form-label'>Estoque</label>
  <input type='text' class='form-control' id='quantidade' name='quantidade' />
  <button type="button" class="btn btn-primary">Enviar</button>
</div>